:root {
    --primary-color: darkblue;
    --secondary-color: #333;
    --light-background: #eee;
    --text-light: white;
    --border-color: #000;
    --shadow-color: gray;

    --main-width: 840px;
    --main-image-width: 150px;
    --aside-image-width: 200px;

    --default-padding: 1rem;
    --small-padding: 10px;
    --large-padding: 20px;
}

/*navigation*/
nav {
    background-color: var(--primary-color);
    padding: var(--small-padding);
}

nav a {
    color: var(--text-light);
    display: block;
    padding: var(--large-padding);
}

/*headings*/
h1 {
    color: var(--primary-color);
}

/*general images*/
img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

/*main section*/
main {
    max-width: var(--main-width);
}

/*aside section*/
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--default-padding);
    background-color: var(--light-background);
    color: var(--secondary-color);
    text-align: center;
}

/*aside img*/
aside img {
    width: var(--aside-image-width);
    height: auto;
}

/* main img*/
main img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid var(--secondary-color);
    padding: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

/*paragraphs*/
p {
    padding: 0;
}

/*footer section*/
footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}