:root {
    /*color*/
    --primary-color: steelblue;
    --text-light: white;
    --text-dark: #333;
    --light-background: #eee;
    --border: #000;
    /* --shadow-color: gray; */
    /*font*/
    --main-font: Roboto,
        Arial,
        sans-serif;
    --base-font-size: 20px;
    /*sizes*/
    --main-width: 840px;
    --main-image-width: 150px;
    --aside-image-width: 200px;
    --aside-width: 20rem;
    /*spacing*/
    --small-padding: 10px;
    --padding: 1rem;
    --large-padding: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
}

.box {
    color: var(--primary-color);
}

.box a:hover {
    color: var(--text-light);
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

/*aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}*/

body {
    font-size: var(--base-font-size);
    font-family: var(--main-font);
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: var(--text-light);
    padding: var(--large-padding);
    text-align: center;
    /* position: relative; */
    /* grid-column: 1/2; */
    /* grid-row: 1/2; */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    /* font-size: 1.2rem; */
    /* font-weight: 700; */
}

h1 {
    color: var(--primary-color);
    border-bottom: 2px solid black;
    padding-bottom: 0.25rem;
}

img {
    width: var(--main-image-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

main img {
    width: var(--main-image-width);
    height: auto;
    border: 2px solid var(--text-dark);
    padding: var(padding);
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: var(--aside-width);
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--primary-color)
}

aside img {
    width: var(--aside-image-width);
    height: auto;
}

aside h2 {
    position: static;
    margin-bottom: 0.5rem;
    /* right: 80px; */
}

p {
    padding: 0;
    margin: 1.5rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

.box {
    margin: var(--medium-padding);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--light-background);
    color: var(--border-color);
    padding: var(--medium-padding);
}

.indent {
    padding-left: 2rem;
}